<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public//css/style.css">


   
</head>
<body>
    <header>
        <%- include('Partes/navbar') %> <!-- Inclui o arquivo 'navbar.ejs' da pasta 'Partes' -->
    </header>
    
    <main>
        <div>
            <%- include('Partes/slider') %>
        </div> 

        <h2 class="novidades-title">Novidades</h2> <!-- Título Novidades -->

        <div>
            <%- include('Partes/grid') %>
        </div>
            <h2 class="categorias-title">Categorias</h2>
        <div>
            <%- include('Partes/categorias') %>
        </div>
        <h2 class="produtos-title">Produtos</h2>
        <div>
            <%- include('Partes/produtos')%>
        </div>
        <div>
            <%- include('Partes/paginacao')%>
        </div>
    </main>
    
    <footer>
        <%- include('Partes/footer') %> 
    </footer>

    <script src="/public/script.js"></script>
</body>
</html>
